.container {
  margin: 10px;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 5px 10px transparent;
  transition: all .5s;
  padding: 20px;
}

.container:hover {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.input {
  margin-bottom: 15px;
}