.title {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;
}

.menu {
  display: grid;
  grid-template-columns: max-content max-content 1fr max-content;
  grid-column-gap: 10px;
  padding: 20px 30px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
}

.logout {
  grid-column: 4;
}

.stats {
  display: flex;
  margin-bottom: 20px;
}

.label {
  margin-right: 10px;
  transform: translateY(-1px);
}