.title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.menu {
  display: grid;
  grid-template-columns: max-content max-content 1fr max-content;
  grid-column-gap: 10px;
  padding: 20px 30px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
}

.logout {
  grid-column: 4;
}

.stats {
  display: flex;
  margin-bottom: 5px;
}

.label {
  margin-right: 10px;
  transform: translateY(-1px);
}

.popupTitle {
  margin-top: 25px;
  font-size: 16px;
  margin-bottom: 10px;
}

@media screen and (max-width: 500px) {
  .menu {
    grid-template-columns: max-content max-content max-content;
    grid-column-gap: 5px;
    padding: 10px 10px;
  }

  .logout {
    grid-column: 3;
  }
}