.layout {
  height: 100vh;
  background-color: white;
}

.header {
  color: white;
}

.content {
  padding: 20px 50px;
}

.footer {
  text-align: center;
}

@media screen and (max-width: 500px) {
  .content {
    padding: 10px 20px;
  }

  .footer {
    padding: 10px 20px;
  }
}